/* ---------- root variables ---------- */
:root {
    --green: rgb(38, 76, 89);
    --light-green: rgb(172, 198, 201);
    --light-grey: #f1f1f4;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
    --white: #f2f2f2;
    --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ---------- general styling ---------- */
html {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-size: 1.2em;
}

h1 {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.1px;
}

h2 {
    font-weight: 500;
    letter-spacing: 0.1px;
    text-align: center;
}

h3 {
    font-weight: 500;
    letter-spacing: 0.1px;
}

a {
    cursor: pointer;
    color: var(--green);
}

img {
    width: 100%;
    height: auto;
}

/* ---------- header styling ---------- */
header {
    background-color: var(--green);
    color: var(--text-color-light);
    padding: 1em;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* ---------- footer styling ---------- */

footer {
    background-color: var(--green);
    color: var(--text-color-light);
    padding: 1em;
    text-align: center;
}

/* ---------- main page styling ---------- */
main {
    background: var(--light-green);
    animation: fadeIn 0.4s;
    padding: 190px 0 0;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ---------- grid container styling ---------- */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1500px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/* ---------- grid item styling ---------- */

.grid-item {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    padding: 1.5em;
    background-color: var(--white);
    transition: 0.5s;
    animation: fadeIn 0.5s;
    cursor: pointer;
}

.grid-item:hover {
    box-shadow: 0 8px 16px 0 var(--green);
}

.grid-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.grid-item p {
    margin: 0.3em 0;
}

.grid-item h3:first-letter,
.grid-item p:first-letter {
    text-transform: uppercase;
}

/* ---------- buttons in grid container ---------- */

.grid-container .btns {
    padding: 1em 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.grid-container .btns button {
    width: 100%;
}

/* ---------- form styling ---------- */
/* input form styling */
form {
    margin: 2em auto 0;
    background-color: var(--light-green);
    padding: 1em 1em 2em;
    text-align: center;
}

button {
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--green);
    color: var(--text-color-light);
    background-color: var(--green);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    width: 100%;
    max-width: 380px;
}

header button {
    color: var(--green);
    background-color: var(--light-green);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

input {
    margin: 1em auto;
    width: 100%;
    max-width: 350px;
    padding: 1em;
    border: 2px solid var(--green);
    display: block;
    background: var(--white);
}

.btn-cancel {
    background: var(--light-green);
    margin: 0 0 1em;
}

select {
    background-color: var(--green);
    border: none;
    color: var(--text-color-light);
    padding: 1em;
    margin: 1em;
    max-width: 350px;
}

/* ---------- dialog styling ---------- */

dialog {
    border-color: var(--green);
    background-color: var(--light-green);
    width: 65vw;
    padding: 2em 1em;
}

dialog::backdrop {
    background: rgb(172, 198, 201, 0.8);
}

.dialog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

dialog h4 {
    margin-bottom: 0;
}
dialog ul {
    margin: 0.5em 0 1em;
    padding-inline-start: 1.5em;
}
dialog p {
    text-align: center;
}

/* ---------- tools grid styling ---------- */

.tools-grid {
    background-color: var(--light-grey);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
    justify-content: space-between;
    justify-items: stretch;
}

@media (min-width: 600px) {
    .tools-grid {
        grid-template-columns: auto auto;
        margin: 1em auto;
    }
}

.tools-grid label {
    max-width: 350px;
}
